.barra{
    width: 500px;
    height: 30px;
    background-color: #eaeaea;
    padding: 3px;
    border-radius: 100px;
    margin: 20px;
}

.uno-centro{

    width: 10%;
    background-color: #4caf50;
    height: 30px;
    border-radius: 100px;
}


.dos-centro{
    width: 25%;
    background-color: #4caf50;
    height: 30px;
    border-radius: 100px
}


.tres-centro{
    width: 50%;
    background-color: #4caf50;
    height: 30px;
    border-radius: 100px
}

.cuatro-centro{
    width: 75%;
    background-color: #4caf50;
    height: 30px;
    border-radius: 100px
}
